@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* NOTES 
-change to my own logo icon
-change link location for my resume
-ensure nav buttons (about, project contact) all work
-learn what the different animation parameters are 
- ensure links are working and I use my own project img for my first project
-change color of title-color to my prefered color
-change color of submit button in contacts
-change color of input:hover, textarea:hover{} and input:focus, textarea:focus {}
- add aos-delay
- fix nav shadow so that particles dont look 'cut off'
- configure particle effect (esp disable the mouse effect)

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.particles-body {
   z-index: 100;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
    background-color: rgb(245, 245, 245);
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


html {
    scroll-behavior: smooth;
}

.container {
    padding: 50px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding:  0 12px;
}

li {
    list-style-type: none;
}

section {
    /* background-color: rgb(245, 245, 245); */
    transition: all 300ms ease;
}

textarea {
    resize: vertical;
    height: 100px;
    margin-top: 8px;
}


input, textarea {
    width: 100%;
    background-color: #242424;
    color: white;
    outline: none;
    border: 3px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input:hover, 
textarea:hover {
    border-color: rgba(51, 185, 222, 0.7)
}

input:focus, 
textarea:focus {
    border-color: #33b9de;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.click {
    cursor: pointer;
    transition: all 300ms ease;
}

.click:hover {
    transform: scale(1.1);
}

.click-text:hover {
    color:rgba(51, 185, 222, 0.7)
}

.click:hover:active {
    transform: scale(0.8);
}

button {
    cursor: pointer;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    right:0;
    height: 3px;
    width: 0;
    background-color: black;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

.link__hover-effect--white:after {
    background-color: white;
}

.link__hover-effect--black:after {
    background-color: #242424;
}

nav,
.scroll,
.header {
    opacity: 1;
    visibility: visible;
    transition: all 600ms 800ms;
} 

.modal--open nav,
.modal--open .scroll,
.modal--open .header {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}

.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust,
.dark-theme .header__para {
    color: white;
}

.dark-theme #particles-js {
    background-color: #242424;
}

.dark-theme #personal-logo {
    filter: none;
}

.dark-theme .mail__btn {
    background-color: white;
    color: #242424;
}

.dark-theme .link__hover-effect--black:after {
    background-color: white;
}

.dark-theme .contact-button--popper{
    color: white;
    text-shadow: -1px -1px 0 #242424, 1px -1px 0 #242424, -1px 1px 0 #242424, 1px 1px 0 #242424;
}

.dark-theme #loader--wrapper {
    background-color: #242424;
}
/*

Loader

*/

#loader {
    z-index: 1;
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #33b9de;
    animation: spin 1.5s linear infinite;
    z-index: 1001;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loader--wrapper {
    background-color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loader--span {
    color: #33b9de;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    animation: loading-text 3s ease-in-out infinite;
}

@keyframes loading-text {
    50% {
        color: transparent;
    }
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/* 

LANDING PAGE


*/

#landing-page {
    min-height: 100vh;
}

.header {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.title {
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1.125;
}

.title-color  {
    color: #33b9de;
}

.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 450px;
    font-weight: 700;
}

/* 

NAV

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}

.personal-logo--wrapper {
    padding-top: 16px;
}

#personal-logo {
    width: 75px;
    height: 75px;
}


.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.fa-adjust {
    font-size: 20px;
}

.social__list {
    margin-top: 16px;
    display: flex;
}

.social__link {
    background-color: #33b9de;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}


.mail__btn {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: white;
    position: fixed;
    bottom: 32px;
    right: 40px;
    z-index: 100;
    box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.3);
}

.contact-button--popper {
    position: fixed;
    bottom: 60px;
    right: 44px;
    color: #242424;
    text-shadow: -1px -1px 0 rgb(245, 245, 245), 1px -1px 0 rgb(245, 245, 245), -1px 1px 0 rgb(245, 245, 245), 1px 1px 0 rgb(245, 245, 245);
    font-weight: 700;
    opacity: 0;
    z-index: 99;
    transition: all 300ms ease;
    letter-spacing: 1px;
}

.contact-button--wrapper:hover .contact-button--popper {
    transform: translateY(-50px);
    opacity: 1;
}

/* 

Modal
*/

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open 
.modal {
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
}


.modal__half {
    width: 50%;   
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact {
    transform: translate(0%);
}

.modal__about {
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-110%);
}

.modal__contact {
    background-color: #242424;
    color: white;
    transform: translateX(110%);
}

.modal__sub-title--contact {
    color: #4bb543;
}

.modal__languages {
    display: flex;
    flex-wrap: wrap;
}

.modal__language {
    width: 25%;
    padding:  16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
}

.modal__language:hover {
    filter: brightness(80%);
    transform: scale(0.9);

}

.language__name {
    position: absolute;
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;
}

.modal__language:hover .language__name {
    transform: scale(1);
}


.modal__language--img {
    width: 100%;
}

.modal__title {
    font-size: 26px;
}

.modal__sub-title {
    margin: 12px 0 24px 0;
    font-size: 14px;

}

.modal__para {
    margin-bottom: 12px;
    line-height: 1.75;
}

.form__item {
    margin-bottom: 20px;

}

.form__submit {
    background-color: #33b9de;
    border: 2px solid #33b9de;
    color:  white;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 20px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color: white;
    background-color: transparent;
}

.form__submit:active {
    border-color: #33b9de;
    color: #33b9de;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.modal__overlay--loading {
    background-color: #242424;
    font-size: 80px;
}

.modal__overlay--success {
    background-color: #4bb543;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 50px;
}

.modal__overlay--visible {
    z-index: 1;
    display: flex;
}

.fa-spinner {
    animation: spinner 750ms infinite;
}

.fa-paper-plane {
    color: #33b9de;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;
}



/* 

Projects

*/

.section__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}

.project__img {
    width: 100%;
    transition: all 600ms ease;
}

.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
    margin-bottom: 80px;
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project__description {
    position: absolute;
    top: 50%;
    transform: translateY(100%);
    left: 90px;
    opacity: 0;
    color: white;
    max-width: 550px;
    transition: opacity 300ms, transform 450ms ease;
}

.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.7;
    visibility: visible;
} 

.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 450ms ease;
    visibility: hidden;
}

.project__description--title {
    font-size: 40px;
}

.project__description--sub-title {
    margin-top: 8px 0;
}

.project__description--link {
    color: white;
    font-size: 20px;
    margin-right: 16px;
}

.project__description--para {
    margin: 16px 0;
}


/* 

Footer

*/

footer {
    background-color: #242424;
    display: flex;
}

.footer__container {
    border-top: 1px solid gray;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo--img {
    width: 75px;
}

.footer__social--list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 28px 0;
}

.footer__social--link,
.footer__copyright {
    color: white;
}

.footer__anchor {
    position: relative;
}

.fa-arrow-up {
    padding-left: 4px;
}

.footer__logo--popper {
    position: absolute;
    top: 25px;
    left: 40px;
    color: white;
    font-weight: 700;
    opacity: 0;
    transition: all 350ms ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__anchor:hover .footer__logo--popper {
    transform: translateX(16px);
    opacity: 1;
}

/* Small phones, tablets, large smart phones */
@media (max-width: 768px) {
    .title {
        font-size: 80px;
    }

    .header__para {
        font-size: 20px;
    }

    .modal {
        top: 0;
        left: 0;
        height: auto;
        transform: none;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
    }

    .modal__half{
        width: 100%;
    }
}


/* SMALL PHONES */

@media (max-width: 480px) {
    .title {
        font-size: 52px;
    }
    
    .header__para {
        font-size: 18px;
    }

    .nav__link:first-child {
        display: none;
    }

    .project__description--para {
        display: none;
    }

    .project__description {
        left: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .project__description--sub-title {
        margin-bottom: 8px;
    }

    .project {
        padding: 0 16px;
    }

    .modal__half {
        padding: 40px;
    }
}